#pictureBanner {
    background-image: url("../images/illustrations/ireland.jpg");
}

.formationResult {
    display: flex;
    flex-direction: column;
}

.formationResult > div {
    display: flex;
}

.formationResult > div > .universityPhoto {
    width: 30%;
    height: inherit;
}

.formationResult > div > .universityContent {
    color: var(--fontColor2);
    width: 70%;
    padding: 7px;
    border-top: 1px solid var(--fontColor2);
}
/*
.formationResult > div > .universityContent:last-of-type {
    border-bottom: none;
}
*/
.titleRow {
    display: flex;
    align-items: center;
}

.titleRow h4 {
    color: var(--fontColor1);
    font-size: 18px;
}

.universityPhoto {
    background-position: center;
    background-size: auto 100%;
}

#dundalkInfo .universityPhoto, #dundalkMMI .universityPhoto, #dundalkTC .universityPhoto {
    background-image: url("../images/illustrations/duntalk.jpg");
}

#roumanieInfo .universityPhoto, #roumanieMMI .universityPhoto {
    background-image: url("../images/illustrations/roumanie.jpg");
}

#lodzInfo .universityPhoto, #lodzMMI .universityPhoto, #lodzTC .universityPhoto {
    background-image: url("../images/illustrations/lodz.jpg");
}

#varsovieInfo .universityPhoto, #varsovieMMI .universityPhoto {
    background-image: url("../images/illustrations/varsovie.jpg");
}

#portugalGEA .universityPhoto, #portugalInfo .universityPhoto, #portugalMMI .universityPhoto, #portugalTC .universityPhoto {
    background-image: url("../images/illustrations/portugal.jpg");
}

#uqamInfo .universityPhoto, #uqamMMI .universityPhoto {
    background-image: url("../images/illustrations/uqam.jpg");
}

#uqacInfo .universityPhoto, #uqacMMI .universityPhoto, #uqacGEA .universityPhoto, #uqacTC .universityPhoto {
    background-image: url("../images/illustrations/uqac.jpg");
}

#cegepGEA .universityPhoto, #cegepTC .universityPhoto {
    background-image: url("../images/illustrations/cegep.jpg");
}

#sligoTC .universityPhoto {
    background-image: url("../images/illustrations/sligo.jpg");
}