:root {
    --categoryColor: #9aab00;
}

#pictureBanner {
    background-image: url("../images/illustrations/central-business-center.jpg");
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#coordFieldset {
    display: flex;
    flex-direction: column;
}

.fieldElement {
    margin: 7px 7px;
}

.fieldElement > label {
    display: block;
    margin: 3px 0;
}

.fieldElement > input {
    width: 100%;
}

input {
    min-height: 18px;
    border: none;
}

.fieldsetRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.fieldRadioRaw {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

select {
    padding: 1.6px
}

legend {
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 15px 0;
    padding: 0;
}