#pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#pageContent > .pictureBanner {
    width: 100vw;
    height: 80px;
    background-image: url("../images/illustrations/louvre-paris.jpg");
    background-position: 50% 67%;
    background-size: 100vw auto;
}

#contentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#contentHeader > h1 {
    margin: -20px 0 0 0;
    padding: 5px 7px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    background-color: #ee287c;
    color: white;
    font-size: 28px;
}

#contentHeader > .tilesBord {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

#contentHeader > .tilesBord > .tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35%;
    min-width: 225px;
    margin: 10px 20px;
    height: inherit;
    text-decoration: none
}

#contentHeader > .tilesBord > .tile > .tileImage {
    height: 150px;
    width: 100%;
    background-color: cornflowerblue;
}

#contentHeader > .tilesBord > .tile > .tileTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ee287c;
}

#contentHeader > .tilesBord > .tile > .tileTitle > span {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px;
}

#pageContent>section:nth-of-type(2n+1) {
     background-color: #2c2c2c;
 }

#pageContent>section:nth-of-type(2n+2) {
    background-color: #333333;
}

#sectionAssetsIUT {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#assetsIUT {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#assetsIUT > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    margin: 10px;
    max-width: 220px;
    max-height: 220px;
    width: 70vw;
    height: 70vw;
}

#assetsIUT > div > p {
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 7px 5px 15px 5px;
}

#assetsIUT > div > img {
    margin: 15px 5px 7px 5px;
    height: 50px;
}

#assetsIUT > div > p > span {
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
}

#pageContent > section > h2 {
    color: white;
    margin: -15px 0 20px 0;
    padding: 5px 10px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    max-width: 80vw;
}

#tileEtudierALIUT > .tileImage {
    background-image: url("../images/illustrations/vue-globale-iut.jpg");
    background-size: 100% auto;
    background-position: center 50%;
}

#tilePartirALEtranger > .tileImage {
    background-image: url("../images/illustrations/ireland.jpg");
    background-size: 100% auto;
    background-position: center 50%;
}