#pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#pageContent > .pictureBanner {
    width: 100vw;
    height: 80px;
    background-image: url("../images/illustrations/louvre-paris.jpg");
    background-position: 50% 67%;
    background-size: 100vw auto;
}

#contentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentHeader > h1 {
    margin: -20px 0 0 0;
    padding: 5px 7px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    background-color: #ee287c;
    color: white;
    font-size: 28px;
}

#contentHeader > .tilesBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin-top: 25px;
}

#contentHeader > .tilesBoard > .tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35%;
    min-width: 225px;
    margin: 10px 20px;
    height: inherit;
    text-decoration: none
}

#contentHeader > .tilesBoard > .tile:hover .tileTitle {
    background-color: rgba(238, 40, 124, 1);
}

#contentHeader > .tilesBoard > .tile > .tileImage {
    height: 170px;
    width: 100%;
    background-color: black;
}

#contentHeader > .tilesBoard > .tile > .tileTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -33px;
    height: 33px;
    background-color: rgba(238, 40, 124, 0.7);
    transition: background-color 0.25s;
}

#contentHeader > .tilesBoard > .tile > .tileTitle > span {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px;
}

#pageContent>section.coloredBlock:nth-of-type(2n+1) {
     background-color: #2c2c2c;
 }

#pageContent>section.coloredBlock:nth-of-type(2n+2) {
    background-color: #333333;
}

#pageContent > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#assetsIUT {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#assetsIUT > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    margin: 10px;
    max-width: 220px;
    max-height: 220px;
    width: 70vw;
    height: 70vw;
}

#assetsIUT > div > p {
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 7px 5px 15px 5px;
}

#assetsIUT > div > img {
    margin: 15px 5px 7px 5px;
    height: 50px;
}

#assetsIUT > div > p > span {
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
}

#pageContent > section > h2 {
    color: white;
    margin: -15px 0 20px 0;
    padding: 5px 10px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    max-width: 80vw;
}

#tileEtudierALIUT > .tileImage {
    background-image: url("../images/illustrations/vue-globale-iut.jpg");
    background-size: 100% auto;
    background-position: center 60%;
}

#tilePartirALEtranger > .tileImage {
    background-image: url("../images/illustrations/ireland.jpg");
    background-size: 100% auto;
    background-position: center 60%;
}

#formationsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 240px;
    margin: 20px 10px;
}

#formationsMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #4D4D4D;
    flex-wrap: wrap;
}

.formationSelector p {
    margin: 0;
    font-size: 18px;
    color: white;
}

.formationSelector img {
    height: 30px;
    margin: 5px;
}

.formationSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 240px;
    flex: 1;
    padding: 5px 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.25s;
}

.formationResult {
    display: none;
    flex-direction: column;
    width: inherit;
    background-color: #222222;
}

.formationResult > h3 {
    margin-left: 25px;
}

#formationsResults {
    width: 100%;
}

.selectedFormation {
    display: flex;
}

#formationSelectorInformatique.selectedFormationSelector, #formationSelectorInformatique:hover {
    background-color: #208d81;
}

#formationSelectorMediasNum.selectedFormationSelector, #formationSelectorMediasNum:hover {
    background-color: #ae3769;
}

#formationSelectorGestion.selectedFormationSelector, #formationSelectorGestion:hover {
    background-color: #ae7237;
}

#formationSelectorCommerce.selectedFormationSelector, #formationSelectorCommerce:hover {
    background-color: #9aa348;
}

.formationResult > h3 {
    color: white;
}

.formationResult ul {
    margin-top: 0;
}

.formationResult li {
    list-style: none;
    margin: 10px 0;
}

.formationResult a {
    color: white;
}

.formationResult li:before {
    content: '■';
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

#formationsInformatique li:before {
    color: #208d81;
}

#formationsMediasNum li:before {
    color: #ee287c;
}

#formationsGestion li:before {
    color: #ee8b29;
}

#formationsCommerce li:before {
    color: #cedd45;
}

a.pinkButton {
    color: white;
    background-color: #ee287c;
    padding: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

#sectionEnSavoirPlusEtudesIUT {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px !important;
}

#sectionEnSavoirPlusEtudesIUT .pinkButton {
    margin: 30px 7px 30px 7px;
    border-radius: 3px;
}

#formationsContainer > a {
    margin: 20px 5px 0 0;
    align-self: flex-end;
    padding: 5px;
    font-size: 14px;
    color: white;
}

#addressContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    flex-wrap: wrap;
    margin-top: 30px;
}

#addressContainer > address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin: 15px 15px;
    background-color: #222222;
    padding: 15px;
}

#addressContainer h2 {
    font-size: 18px;
    margin: 0 7px;
}

#addressContainer > address > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

#addressContainer > address > div > span {
    margin: 7px 15px;
}

#addressContainer > address a {
    color: white;
}

#addressContainer > address .addressContent {
    color: grey;
    margin: 2px 7px 15px 7px;
}

#addressContainer > address .addressTitle {
    font-size: 18px;
    margin: 0 7px;
}

#sectionEuropeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sectionEuropeContent > #distances {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222222;
    margin: 7px;
}

#distances > p {
    min-width: 160px;
    margin: 7px;
    text-align: center;
}

#sectionEuropeContent > #distances .hours {
    font-size: 22px;
    font-weight: bold;
}

#sectionEuropeContent > #distances .ville {
    font-size: 15px;
    font-weight: bold;
}

#sectionEuropeContent > #distances .connecteur {
    font-size: 12px;
    color: #eeeeee;
}

#carteEurope {
    width: 30vw;
    max-width: 280px;
    min-width: 200px;
    margin: 10px;
}

#chiffresCles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#chiffresCles > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.9);
    align-items: center;
    margin: 7px 10px;
    width: 10vw;
    min-width: 120px;
    min-height: 120px;
    height: 10vw;
    text-align: center;
    color: white;
    padding: 2px;
}

.chiffreCle {
    font-size: 20px;
    font-weight: bold;
}

.chiffreTitle {
    color: #eeeeee;
}

#sectionChiffres {
    background-image: url("../images/illustrations/background-section-chiffres.jpg");
    background-size: 130vw auto;
    background-position: center 25%;
    background-repeat: no-repeat;
}

.button {
    transition: transform 0.15s;
}

.button:hover {
    transform: scale(1.025, 1.025);
}