/*Masquage des éléments mobile*/
#hamburgerButton {
    display: none;
}

#topBar {
    background-color: black;
}

#logoIUT > img {
    height: 60px;
}

#controls img {
    height: 16px;
}

#controls {
    flex-direction: row-reverse;
}

#navMenu {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: 100% !important;
    background-color: black;
    top: 0 !important;
    height: auto !important;
}

/*TODO: Gérer position sticky -> flex quand on affiche le menu de navigation mobile*/