@import "theme.css";

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 98vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    overflow-y: visible !important;
    background-color: var(--bgColor);
}

a {
    display: inline;
    color: var(--fontColor2);
}

a:link {
    color: var(--fontColor2);
}

a[target="_blank"]:not(.externalIconHidden):after {
    content: var(--externalLinkIcon);
    display: inline-flex;
    vertical-align: middle;
    height: auto;
    width: .95em;
    margin-left: 5px;
}

.cite {
    display: inline-block;
    margin: 7px 10% 7px 10%;
    padding-left: 7px;
    border-left: 4px solid var(--categoryColor);
    color: var(--fontColor2);
}

.cite > .skillsList {
    padding-left: 7px;
    margin: 0;
}

/* --- En-tête --- */

#pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--mainColor);
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px #333333;
    z-index: 1000;
}

#logoIUT {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSideHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}

#commonMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

#controls > button, #hamburgerButton {
    border: none;
    background-color: transparent;
    padding: none;
    cursor: pointer;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 30vw;
}

#controls > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls > a {
    text-decoration: none;
}

.controlIcon {
    margin: 5px 0;
}

#luminosityButton {
    background-image: url("../images/icons/light-mode.svg");
}

#luminosityButton, #languageButton {
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

#languageButton {
    display: flex;
    align-items: center;
    background-size: auto 16px;
    height: 25px;
    min-width: 25px;
}

#luminosityButton {
    background-size: auto 25px;
    min-width: 27px;
}

[data-theme=light] #luminosityButton {
    background-image: url("../images/icons/dark-mode.svg");
}

#luminosityButton > span, #languageButton > span {
    color: white;
    margin-left: 17px;
    font-size: 13px; /*appliquer ce style aussi au texte du bouton anglais + augmenter le margin entre les 2 boutons (anglais & darkmode*/
}

#luminosityButton > span {
    margin-left: 18px;
}

[data-theme=light] #luminosityButton > span {
    margin-left: 12px;
}

#languageButton > span {
    margin-left: 28px;
}

#languageButton {
    background-image: url("../images/icons/uk-flag.svg");
}

[data-theme=light] .lightButton, [data-theme=dark] .darkButton {
    display: none;
}

[data-theme=light] .darkButton, [data-theme=dark] .lightButton {
    display: inline;
}

#studentsLinks {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 120px;
    cursor: pointer;
    z-index: 1000;
}

#studentsLinks > ul {
    position: fixed;
    display: none;
    padding: 0;
    margin: 0 5px 0 0;
    top: 28px;
    width: 120px;
    max-width: inherit;
}

#studentsLinks > ul > li {
    background-color: var(--thirdColor);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 4px 7px;
    transition: background-color 0.25s;
}

#studentsLinks > ul > li:hover {
    background-color: var(--fifthColor);
}

#studentsLinks > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15.625px;
    margin: 0;
    background-color: var(--secondaryColor);
    color: white;
    font-size: 15px;
    height: 18px;
}

#studentsLinks a {
    color: white;
    font-size: 14px;
    width: 100%;
    height: inherit;
    text-decoration: none;
}

#studentsLinks:hover ul {
    display: block;
}

.navTitle {
    display: flex;
    align-items: center;
    background-color: var(--secondaryColor);
    cursor: pointer;
    color: white;
}

.submenusNav {
    padding: 0;
}



/* --- Contenu de la page --- */

#pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}


    /* -- En-tête de la page -- */

#pictureBanner {
    width: 100vw;
    height: 80px;
    background-size: 100vw auto;
}

#contentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentHeader > h1 {
    margin: -20px 0 0 0;
    padding: 5px 7px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    color: white;
    font-size: 28px;
}


    /* -- Sections de la home page -- */

#pageContent > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#pageContent>section.coloredBlock:nth-of-type(2n+1) {
    background-color: var(--strongerSectionShade);
}

#pageContent>section.coloredBlock:nth-of-type(2n+2) {
    background-color: var(--lighterSectionShade);
}

#pageContent > section > h2 {
    color: white;
    margin: -15px 0 20px 0;
    padding: 5px 10px;
    background-color: var(--mainColor);
    text-align: center;
    font-size: 20px;
    max-width: 80vw;
}



/* --- Pied de page --- */

#pageFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--mainColor);
}

#pageFooter > nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#footerLinksContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLinks > a {
    display: block;
    margin: 2px 5px;
    color: white;
    font-size: 14px;
    text-align: center;
}

#copyrightBanner {
    display: flex;
    justify-content: flex-start;
    background-color: var(--mainColor);
    width: 100%;
}

#socialNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px auto;
}

#socialNetworks > a {
    color: white;
}

#socialNetworks > a > img {
    margin: 0 3px;
    width: 32px;
}

#copyrightBanner > p {
    color: white;
    font-size: 11px;
    margin: 0 20px 0 0;
}

#logoUniv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 7px 25px 7px 5px;
}


/* Classes générales, utiles sur tout le site */

.hidden {
    display: none;
}

.button {
    transition: transform, background-color 0.15s;
}

.button:hover {
    transform: scale(1.025, 1.025);
}

.pagePath {
    align-self: flex-start;
    margin: 15px 2.5% 30px 10%;
    color: grey;
}

.pagePath > a, .pagePath > span {
    color: var(--fontColor1);
}

.pathCurrentPage {
    color: var(--fontColor3) !important;
}

/* blocs d'adresse */
#addressContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    flex-wrap: wrap;
    margin-top: 30px;
}

#addressContainer > address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    color: var(--fontColor1);
    font-size: 15px;
    margin: 15px 15px;
    background-color: rgb(var(--fourthColor));
    padding: 15px;
}

address > .addressTitle {
    font-size: 18px;
    margin: 0 7px;
}

address > .addressContent {
    color: var(--fontColor3);
    margin: 2px 7px 15px 7px;
}

address > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

address > div > span {
    margin: 7px 15px;
}

address a {
    color: var(--fontColor1);
}

.subsection, .chapo, .moreInformations {
    width: 80%;
    text-align: left;
    color: var(--fontColor1);
}

section {
    display: flex;
}

section > h3 {
    color: var(--fontColor1);
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10%;
}

.sommaire {
    border-collapse: collapse;
    margin: 20px 10%;
    border-radius: 5px;
    overflow: hidden;
}

.sommaire * {
    color: white !important;
}

.sommaireTop {
    background-color: var(--fifthColor);
    color: var(--fontColor1);
}

.sommaireBottom {
    background-color: var(--secondaryColor);
    font-size: 14px;
}

.sommaireContent {
    margin: 5px 7px;
    padding: 2px 40px 2px 40px;
    list-style-type: square;
}

.sommaireContent > li {
    margin: 3px 0;
}

.skillsList > li {
    list-style-type: none;
    text-align: left;
    margin: 3px 0;
}

.skillsList > li:before {
    content: '✓';
    position: relative;
    right: 7px;
}

section li {
    list-style-type: square;
    margin: 2px 0;
}

.faq > details {
    width: 80%;
    background-color: var(--bgColor);
    margin: 3px 0;
    color: white;
}

.faq .question {
    background-color: var(--secondaryColor);
    padding: 7px;
    cursor: pointer;
}