html {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 98vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    overflow-y: visible !important;
}


/* En-tête */

#pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: black;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px #333333;
}

#logoIUT {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSideHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}

#commonMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

#controls > button, #hamburgerButton {
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.controlIcon {
    margin: 5px;
}

#studentsLinks {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#studentsLinks > ul {
    position: fixed;
    display: none;
    padding: 0;
    margin: 0 5px 0 0;
    top: 28.4px;
}

#studentsLinks > ul > li {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 4px 7px;
}

#studentsLinks > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15.625px;
    margin: 0;
    background-color: #4D4D4D;
    color: white;
    cursor: pointer;
}

#studentsLinks a {
    color: white;
    font-size: 14px;
}

#studentsLinks:hover ul {
    display: block;
}

.navTitle {
    display: flex;
    align-items: center;
    background-color: #4D4D4D;
    cursor: pointer;
    color: white;
}

.submenusNav {
    padding: 0;
}