#logoIUT > img {
    width: 65px;
}

.controlIcon {
    height: 20px;
}

#hamburgerButton {
    width: 48px;
}

#hamburgerButton > div, #hamburgerButton:before, #hamburgerButton:after {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 3px;
    margin: 7px 2px 7px 0;
    transition: all .2s ease-in-out;
}

.hamburgerMenuDisplayed:before {
    transform: translateY(10px) rotate(135deg);
}

.hamburgerMenuDisplayed:after {
    transform: translateY(-10px) rotate(-135deg);
}

.hamburgerMenuDisplayed div {
    transform: scale(0);
}

#navMenuContainer {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    overflow-y: scroll;
    right: 0;
    color: white;
}

.navMenuContainerDisplayed {
    display: flex !important;
}

.pageHeaderIfNavMenuContainerDisplayed {
    position: fixed !important;
}

.bodyIfNavMenuContainerDisplayed {
    overflow-y: hidden !important;
}

#navMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/*Ajout d'un espace à la suite du menu de navigation mobile*/
#navMenu:after {
    content: ' ';
    display: block;
    padding: 10px 0;
}

#navMenu > li {
    width: 80vw;
}

#navMenu ul {
    list-style: none;
    padding: 0;
}

#navMenu > li > a {
    font-size: 18px;
    text-decoration: underline;
}

.submenusNav > li > a {
    font-size: 16px;
}

#commonMenu {
    height: 65px;
}

#studentsLinks {
    margin: 0 auto;
    z-index: 1000;
}

@media screen and (max-width: 340px) {
    #studentsLinks {
        display: none;
    }
}

@media screen and (max-width: 230px) {
    #luminosityButton {
        display: none;
    }
}

@media screen and (max-width: 190px) {
    #controls {
        display: none;
    }
}

#navMenu > li > a {
    justify-content: space-around;
    margin: 0 auto;
    background-color: #333333;
    padding: 7px 0;
    color: white;
}

#navMenu > li {
    margin: 7px 0;
    background-color: #222222;
}

.submenusNav > li {
    margin: 10px;
}

.submenusNav > li > a {
    color: white;
}

/*TODO : Ne plus utiliser le after pour les fleches de menu mais un backgroud*/