:root {
    --mainColor: black;
    --bgColor: 26, 26, 26;
    --lighterSectionShade: #353535;
    --strongerSectionShade:#2c2c2c;
    --secondaryColor: #4d4d4d;
    --thirdColor: #5d5d5d;
    --fontColor1: #fff;
    --externalLinkIcon: url("../images/icons/external-link-light.svg");
    --fourthColor: 40, 40, 40;
    --fifthColor: #414141;
    --fontColor2: #eeeeee;
    --fontColor3: #999;
    --lightBlue: #02b7a3;
    --lightPink: #ee287c;
    --lightOrange: #ee8b29;
    --lightGreen: #cedd45;
    --darkBlue: #208d81;
    --darkPink: #b60050;
    --darkOrange: #b65d00;
    --darkGreen: #9aab00;
}

[data-theme="light"] {
    --mainColor: #3f4045;
    --bgColor: 232, 241, 242;
    --lighterSectionShade: #b5b5b5;
    --strongerSectionShade: #9b9b9b;
    --secondaryColor: #616266;
    --thirdColor: #6f7073;
    --fontColor1: #3e3e3e;
    --externalLinkIcon: url("../images/icons/external-link-dark.svg");
    --fourthColor: 200, 200, 201;
    --fontColor2: #3f4045;
    --fontColor3: #4b4b4b;
    --fifthColor: #555556;
}